/* Style Sheet */

/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS */


/* Desk with Coffee */

#hometop {
background-image: url('deskhome.jpg');
background-position: relative;
background-repeat: no-repeat;
background-size: cover;
background-opacity: 0.4;
margin-top: none;
overflow: auto;
min-width: 45em;
}

.titletext {
max-width: 15em;
margin-right:auto;
margin-left: auto;
padding-top:3em;
padding-bottom:3em;
font-size: 4.125em;
color: white;
text-align: center;
font-weight: 300;
font-family: 'Comfortaa','Open Sans', 'Coda' sans-serif;
text-shadow: 6px 6px 5px #000000;
}

/* Desk with Coffee */

/* Middle with block images and buttons */

.homemiddle {
padding-top: 4em;
padding-bottom: 5em;
max-width: 65em;
min-width: 45em;
margin-right: auto;
margin-left: auto;
text-align:center;
}

.listitems {
font-family: 'Comfortaa','Open Sans', 'Coda' sans-serif;
text-align:center;
font-size: 1.595em;
display: inline-block;    
}

#listleft {
float: left;
}

#listright {
float: right;
}

/* Middle with block images and buttons */

/* Contact Me Section */

.homebottom {
padding-top: 4em;
padding-bottom: 5em;
max-width: 45em;
min-width: 25em;
margin-right: auto;
margin-left: auto;
text-align:center;
}

.bottomtext {
max-width: 12em;
margin-right:auto;
margin-left: auto;
padding-top:.5em;
padding-bottom:2em;
font-size: 3.125em;
text-align: center;
font-weight: 300;
font-family: 'Comfortaa','Open Sans', 'Coda' sans-serif;
}

#contact {
background-color: #267F3C;
color: white;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 8px;
max-width: 7.5em;
text-align: center; 
margin-right:auto;
margin-left: auto;
}

/* Contact Me Section */



.fa-5x {
    color:#267F3C;
}

.fa-5x:hover {
    color:black;
}





.fa-linkedin-square {
    color:#069;
}

.fa-coffee {
    color: #7F4000;
}

footer {
    background-color: #267F3C;
    height: 5em;
    width: 100%
        
}

.sig {
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
    color: white;
    font-size: 1.2em;
}

.footer1 {
    max-width: 25em;
    text-indent: 2em;
    padding-top: 1.5em; 
}
